* {
  font-family: 'Plus Jakarta Sans', sans-serif; }

.body {
  overflow-x: hidden; }

/* base pagina*/
.logo {
  width: 150px;
  margin-left: 140px; }

.barra {
  margin-top: 40px;
  padding-right: 150px; }

.footer {
  margin-top: 200px;
  margin-left: 650px; }

.titulo {
  margin-top: 40px; }

/*fin base pagina*/
.calesita {
  width: 750px; }

.textoPresentacion {
  margin-top: 110px; }

@media only screen and (max-width: 768px) {
  .logo {
    width: 100px;
    margin-left: 0px; }
  ul {
    font-size: 15px; }
  .titulo {
    margin-top: 20px; }
  .barra {
    margin-top: 40px;
    padding-right: 0px; }
  .tituloPag {
    font-size: 30px; }
  .calesita {
    width: 350px;
    padding-left: 10px; }
  .textoPresentacion {
    margin-top: 110px;
    padding-left: 10px; }
  .footer {
    margin-top: 200px;
    margin-left: 0px;
    padding-left: 10px; }
  .html {
    overflow-x: hidden; } }

/* base pagina*/
.logo2 {
  width: 150px;
  margin-left: 140px; }

.barra2 {
  margin-top: 40px;
  padding-right: 150px; }

.footer2 {
  margin-top: 200px;
  margin-left: 650px; }

.titulo2 {
  margin-top: 40px; }

/*fin base pagina*/
.textoIntroduccion {
  text-align: center;
  margin-top: 150px; }

.fotoDecoracion {
  width: 550px;
  margin-left: 650px; }

/* base pagina*/
.logo1 {
  width: 150px;
  margin-left: 140px; }

.barra1 {
  margin-top: 40px;
  padding-right: 150px; }

.footer1 {
  margin-top: 200px;
  margin-left: 650px; }

.titulo1 {
  margin-top: 40px; }

/*fin base pagina*/
.cambioPantalla {
  width: 440px; }

.reparacionMother {
  width: 450px;
  margin-left: 480px; }

.cambioPiezas {
  width: 570px; }

.teclado {
  margin-left: 480px;
  width: 445px; }

.Software {
  width: 280px;
  margin-left: 150px;
  margin-bottom: 10px; }

.fila {
  margin-top: 10px; }

.oracion {
  font-size: 35px;
  font-style: italic;
  color: darkred; }

.consulta {
  text-align: center;
  margin-top: 10px; }

@media only screen and (max-width: 768px) {
  .logo2 {
    width: 100px;
    margin-left: 0px; }
  ul {
    font-size: 15px; }
  .titulo2 {
    margin-top: 20px; }
  .barra2 {
    margin-top: 40px;
    padding-right: 0px; }
  .footer2 {
    margin-top: 200px;
    margin-left: 0px;
    padding-left: 10px; }
  .body {
    overflow-x: hidden; }
  .fotoDecoracion {
    width: 150px;
    margin-left: 100px; }
  .textoIntroduccion {
    font-size: 12px; } }

@media only screen and (max-width: 768px) {
  /* base pagina*/
  .logo1 {
    width: 100px;
    margin-left: 0px; }
  .barra1 {
    margin-top: 40px;
    padding-right: 0px; }
  .footer1 {
    margin-top: 200px;
    margin-left: 0px; }
  .titulo1 {
    margin-top: 20px; }
  /*fin base pagina*/
  .cambioPantalla {
    width: 400px;
    margin-bottom: 100px; }
  .reparacionMother {
    width: 374px;
    margin-left: 0px; }
  .cambioPiezas {
    width: 374px;
    margin-bottom: 100px; }
  .teclado {
    margin-left: 0px;
    width: 374px; }
  .Software {
    width: 280px;
    margin-left: 50px;
    margin-bottom: 10px; }
  .fila {
    margin-top: 10px; }
  .oracion {
    font-size: 35px;
    font-style: italic;
    color: darkred; }
  .consulta {
    text-align: center;
    margin-top: 10px;
    font-size: 17px; }
  .tituloBanner {
    font-size: 29px; } }

/* base pagina*/
.logo3 {
  width: 150px;
  margin-left: 140px; }

.body {
  overflow-x: hidden; }

.barra3 {
  margin-top: 40px;
  padding-right: 150px; }

.footer3 {
  margin-top: 200px;
  margin-left: 650px; }

.titulo3 {
  margin-top: 40px; }

/*fin base pagina*/
.card {
  margin-top: 40px;
  margin-bottom: 40px; }

.mapa {
  margin-left: 500px; }

@media only screen and (max-width: 768px) {
  /* base pagina*/
  .logo3 {
    width: 100px;
    margin-left: 0px; }
  .conteiner {
    overflow-x: hidden; }
  .barra3 {
    margin-top: 40px;
    padding-right: 0px; }
  .footer3 {
    margin-top: 200px;
    margin-left: 5px; }
  .titulo3 {
    margin-top: 20px; }
  /*fin base pagina*/
  .card {
    margin-top: 40px;
    margin-bottom: 40px; }
  .mapa {
    margin-left: 12px;
    width: 350px; } }
