@media screen and (min-width: 1200px) {
  * {
    font-family: 'Plus Jakarta Sans', sans-serif; }
  .body {
    overflow-x: hidden; }
  /* base pagina*/
  .logo {
    width: 150px;
    margin-left: 140px; }
  .barra {
    margin-top: 40px;
    padding-right: 150px; }
  .footer {
    margin-top: 300px;
    margin-left: 550px; }
  .titulo {
    margin-top: 40px; }
  /*fin base pagina*/
  .calesita {
    width: 550px; }
  .textoPresentacion {
    margin-top: 110px;
    padding-left: 20px; } }

@media only screen and (max-width: 768px) {
  .logo {
    width: 100px;
    margin-left: 10px; }
  ul {
    font-size: 15px; }
  .titulo {
    margin-top: 20px;
    margin-left: 10px; }
  .barra {
    margin-top: 40px;
    padding-right: 0px;
    margin-left: 10px; }
  .tituloPag {
    font-size: 30px; }
  .calesita {
    width: 350px;
    padding-left: 60px; }
  .textoPresentacion {
    margin-top: 110px;
    padding-left: 16px; }
  .footer {
    margin-top: 200px;
    margin-left: 35px;
    padding-left: 10px; }
  .html {
    overflow-x: hidden; } }

@media screen and (min-width: 1200px) {
  /* base pagina*/
  .logo2 {
    width: 150px;
    margin-left: 140px; }
  .barra2 {
    margin-top: 40px;
    padding-right: 150px; }
  .footer2 {
    margin-top: 200px;
    margin-left: 550px; }
  .titulo2 {
    margin-top: 40px; }
  /*fin base pagina*/
  .textoIntroduccion {
    text-align: center;
    margin-top: 150px; }
  .fotoDecoracion {
    width: 550px;
    margin-left: 550px; }
  .texto1 {
    margin-top: 20px; } }

@media screen and (min-width: 1200px) {
  /* base pagina*/
  .logo1 {
    width: 150px;
    margin-left: 140px; }
  .barra1 {
    margin-top: 40px;
    padding-right: 150px; }
  .footer1 {
    margin-top: 200px;
    margin-left: 550px; }
  .titulo1 {
    margin-top: 40px; }
  /*fin base pagina*/
  .cambioPantalla {
    width: 440px; }
  .reparacionMother {
    width: 450px;
    margin-left: 180px; }
  .cambioPiezas {
    width: 570px; }
  .teclado {
    margin-left: 180px;
    width: 445px; }
  .Software {
    width: 280px;
    margin-left: 150px;
    margin-bottom: 10px; }
  .fila {
    margin-top: 10px; }
  .oracion {
    font-size: 35px;
    font-style: italic;
    color: darkred; }
  .consulta {
    text-align: center;
    margin-top: 10px; } }

@media only screen and (max-width: 768px) {
  .logo2 {
    width: 100px;
    margin-left: 10px; }
  ul {
    font-size: 15px; }
  .titulo2 {
    margin-top: 20px;
    margin-left: 10px; }
  .barra2 {
    margin-top: 40px;
    padding-right: 0px;
    margin-left: 10px; }
  .footer2 {
    margin-top: 200px;
    margin-left: 35px;
    padding-left: 10px; }
  .body {
    overflow-x: hidden; }
  .fotoDecoracion {
    width: 150px;
    margin-left: 125px; }
  .textoIntroduccion {
    font-size: 12px; } }

@media only screen and (max-width: 768px) {
  /* base pagina*/
  .logo1 {
    width: 100px;
    margin-left: 10px; }
  .barra1 {
    margin-top: 40px;
    padding-right: 0px;
    margin-left: 10px; }
  .footer1 {
    margin-top: 200px;
    margin-left: 35px; }
  .titulo1 {
    margin-top: 20px;
    margin-left: 10px; }
  /*fin base pagina*/
  .cambioPantalla {
    width: 400px;
    margin-bottom: 100px;
    margin-left: 20px; }
  .reparacionMother {
    width: 374px;
    margin-left: 20px; }
  .cambioPiezas {
    width: 374px;
    margin-bottom: 100px;
    margin-left: 20px; }
  .teclado {
    margin-left: 20px;
    width: 374px; }
  .Software {
    width: 280px;
    margin-left: 70px;
    margin-bottom: 10px; }
  .fila {
    margin-top: 10px; }
  .oracion {
    font-size: 35px;
    font-style: italic;
    color: darkred; }
  .consulta {
    text-align: center;
    margin-top: 10px;
    font-size: 17px; }
  .tituloBanner {
    font-size: 29px; } }

@media screen and (min-width: 1200px) {
  /* base pagina*/
  .logo3 {
    width: 150px;
    margin-left: 140px; }
  .body {
    overflow-x: hidden; }
  .barra3 {
    margin-top: 40px;
    padding-right: 150px; }
  .footer3 {
    margin-top: 200px;
    margin-left: 550px; }
  .titulo3 {
    margin-top: 40px; }
  /*fin base pagina*/
  .card {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px; }
  .principio {
    margin-top: 50px;
    padding-left: 50px; }
  .mapa {
    margin-left: 500px; } }

@media only screen and (max-width: 768px) {
  /* base pagina*/
  .logo3 {
    width: 100px;
    margin-left: 10px; }
  .conteiner {
    overflow-x: hidden; }
  .barra3 {
    margin-top: 40px;
    padding-right: 0px;
    margin-left: 10px; }
  .footer3 {
    margin-top: 200px;
    margin-left: 35px; }
  .titulo3 {
    margin-top: 20px;
    margin-left: 10px; }
  /*fin base pagina*/
  .card {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45px; }
  .mapa {
    margin-left: 12px;
    width: 350px; } }
