@media screen and (min-width: 1200px){
	*{
		font-family: 'Plus Jakarta Sans', sans-serif;
	}

	.body{
		overflow-x:hidden;
	}

	/* base pagina*/
	.logo{
		width:150px;
		margin-left:140px;
	}


	.barra{
		margin-top: 40px;
		padding-right: 150px;
		
	}

	.footer{
		margin-top:200px;
		margin-left: 650px;
	}

	.titulo{
		margin-top:40px;
	}

	/*fin base pagina*/

	.calesita{
		width: 650px;
	}

	.textoPresentacion{
		margin-top:110px;
		padding-left: 20px;
	}
}

