/* base pagina*/
.logo3{
	width:150px;
	margin-left:140px;
}

.body{
	overflow-x:hidden;
}
.barra3{
	margin-top: 40px;
	padding-right: 150px;
	
}

.footer3{
	margin-top:200px;
	margin-left: 650px;
}

.titulo3{
	margin-top:40px;
}

/*fin base pagina*/

.card{
	margin-top: 40px;
	margin-bottom: 40px;
}

.mapa{
	margin-left: 500px;
}