

@media only screen and (max-width: 768px){
	
	.logo{
		width:100px;
		margin-left:0px;
	}

	ul{
		font-size: 15px;
	}


	.titulo{
		margin-top:20px;

	}
	.barra{
		margin-top: 40px;
		padding-right: 0px;

		
	}

	

	.tituloPag{
		font-size: 30px;
	}

	.calesita{
		width: 350px;
		padding-left: 10px;
	}

	.textoPresentacion{
		margin-top:110px;
		padding-left: 10px;
	}

	.footer{
		margin-top:200px;
		margin-left: 0px;
		padding-left: 10px;
	}	
	
	.html{
		overflow-x:hidden;
	}


}