

@media only screen and (max-width: 768px){
	
	/* base pagina*/
	.logo1{
		width:100px;
		margin-left:10px;
	}


	.barra1{
		margin-top: 40px;
		padding-right: 0px;
		margin-left: 10px;
	
	}

	.footer1{
		margin-top:200px;
		margin-left: 35px;
	}

	.titulo1{
		margin-top:20px;
		margin-left:10px;

	}

	/*fin base pagina*/

	.cambioPantalla{
		width: 400px;
		margin-bottom: 100px;
		margin-left: 20px;
	}

	.reparacionMother{
		width: 374px;
		margin-left: 20px;
	}

	.cambioPiezas{
		width: 374px;
		margin-bottom:100px;
		margin-left: 20px;
	}
	.teclado{
		margin-left:20px;
		width: 374px;
	}

	.Software{
		width: 280px;
		margin-left: 70px;
		margin-bottom: 10px;
	}

	.fila{
		margin-top: 10px;
	}

	.oracion{
		font-size: 35px;
		font-style: italic;
		color: darkred;
	}

	.consulta{
		text-align: center;
		margin-top: 10px;
		font-size: 17px;
	}

	.tituloBanner{
		font-size: 29px;
	}




}