@media only screen and (max-width: 768px){

	/* base pagina*/
	.logo3{
		width:100px;
		margin-left:10px;
	}

	.conteiner{
		overflow-x:hidden;
	}
	.barra3{
		margin-top: 40px;
		padding-right: 0px;
		margin-left: 10px;
		
	}

	.footer3{
		margin-top:200px;
		margin-left: 35px;
	}

	.titulo3{
		margin-top:20px;
		margin-left:10px;
	}

	/*fin base pagina*/

	.card{
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 45px;
	}

	.mapa{
		margin-left: 12px;
		width:350px;
	}
}