<!DOCTYPE html>
<html lang="es" class="html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contáctenos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap" rel="stylesheet">

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="body">
	<div class="conteiner">
		<div class="row">
			<div class="col-lg-4 col-4">
				<a href="../index.html"><img src="../assets/img/logoPagina.jpg" class="logo3"></a>
			</div>

			<div class="col-lg-3 col-4 titulo3">
				<h3 class="tituloPag">H . I . R Repaciones</h3>
			</div>

			<div class="col-lg-5 col-12 barra3">
				<ul class="nav nav-pills">
				  <li class="nav-item">
				    <a class="nav-link" href="../index.html">Inicio</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" href="#">Contacto</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="nosotros.html">Nosotros</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="servicios.html">Servicios</a>
				  </li>
				</ul>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-4 col-12" data-aos="flip-right">
				<div class="card" style="width: 18rem;">
				  <img src="../assets/img/whatsapp.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Contacto Whatsapp</h5>
				    <p class="card-text">Aquí dejamos nuestro whatsapp para consultarnos. Llamar en el horario de ateción</p>
				    <a href="https://wa.me/+5493516710707/?text=me%20gustaria%20pedir%20presupuesto" target="_black" class="btn btn-primary">Contactenos por whatsapp</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 col-12" data-aos="flip-right">
				<div class="card" style="width: 18rem;">
				  <img src="../assets/img/telefono.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Contacto Por Teléfono</h5>
				    <p class="card-text">Llame si solicita una atención mas personal. Llamar en el horario de ateción</p>
				    <a href="tel:+543516710707" class="btn btn-primary" target="_black">Presione aquí para llamar</a>
				  </div>
				</div>
				
			</div>

			<div class="col-lg-4 col-12" data-aos="flip-right">
				<div class="card" style="width: 18rem;">
				  <img src="../assets/img/instagram.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nuestro Instagram</h5>
				    <p class="card-text">En nuestro instagram mostramos trabajos ya realizados, tips, dudas frecuentes que tienen nuestros clientes.</p>
				    <a href="" class="btn btn-primary" target="_black">Seguinos Por Instagram</a>
				  </div>
				</div>
				
			</div>



		</div>

		<div class="row">
			<div class="col-lg-12 col-12">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.581266363358!2d-64.23112588429183!3d-31.425661003846383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a208ec64f9d3%3A0x9548d51a8e8b74db!2sMaestro%20Vidal%20%26%20Hector%20Paniza%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1649951771137!5m2!1ses-419!2sar" width="750" height="500" style="border:0;"loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
				
			</div>
		</div>




		<div class="row">
			<div class="col-lg-12" data-aos="fade-up-left">
				<p class="footer3"> Teléfono: 3516710707<br>
					Email: nachorojos99 @ gmail.com<br>
					Horario De Atencion: Lun a Sab de 9 hs a 18 hs<br>
					Dirección: Hector Paniza Esquina Maestro Vidal<br>
				</p>
			</div>
		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<script>
  		AOS.init();
	</script>
</body>
</html>